@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    background-color: var(--cor1);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 50px;
}

body{
    background-color: black;
}

.logo {
    background-image: url(imagens/fundo-logo.png);
    background-size: 101vw;
    height: 105px;
}

#l1{
    background-position: top center;
    background-repeat: no-repeat;
}

.logo-letra{
    margin-left: 40vw;
    height: 8vw;
}

.lateral_dis_ip{
    background-image: linear-gradient(to bottom, rgb(61, 0, 141), rgb(19, 0, 37));
    box-shadow: rgb(19, 0, 37) 0px 1px 50px 10px;
    display: flex;
}

.img-discord{
    margin: 0px 0px 0px -3px;
}

.discord{
    background-color: rgb(69, 69, 236);
    border-radius: 6px;
    margin: 10px 0px 0px 0px;
    padding: 9px 13px 9px 13px;
    position: relative;
    left: 66vw;
    width: 30px;
    height: 30px;
}

.discord:hover{
    background-color: rgb(115, 115, 250);
}


.ipp{
    background-color: rgb(255, 174, 0);
    border-radius: 7px;
    color: rgb(155, 88, 0);
    font-family: kanit;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 6px 10px 10px 10px;
    position: relative;
    left: 66vw;
    width: 350px;
    height: 32px;
}

.ipp:hover{
    background-color: rgb(255, 215, 85);
}